html {
    overflow-y: auto;
}
.flexCenter {
    display: flex;
    align-items: center;
}
.logoLargeDark {
    background-image: url(../images/logo-dark.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 192px;
    height: 192px;
}
.textContainer {
    margin-left: 18rem;
    margin-right: 18rem;
}
.noLink {
    color: inherit;
    text-decoration: none;
}
input[type=text], textarea {
    outline: none;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    padding-left: 8px;
}
input[type=text]:focus, textarea:focus {
    border: 1px solid black;
}

.abstractLogo {
    background-color: #4c4c4c;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.githubLogo {
    mask: url(../images/github-logo.svg);
}
.twitterLogo {
    mask: url(../images/twitter-logo.svg);
}

@media only screen and (max-width: 1200px) {
    .textContainer {
        margin: 0 12rem;
    }
}

@media only screen and (max-width: 900px) {
    .textContainer {
        margin: 0 3rem;
    }
}
