body {
    /*background-color: black;*/
    /*color: white;*/
}
footer {
    background-color: #414141;
    color: white;
    position: relative;
    padding: 30px;
}
.footerColumn {
    margin-top: 10px;
    margin-right: 3.5rem;
    font-size: 10pt;
}
.footerColumn > span {
    color: #d4d4d4;
    font-size: 11pt;
}
.footerColumn > a {
    display: block;
    color: inherit;
    text-decoration: none;
}
.footerColumn > a:not(:first-child) {
    margin-top: 13px;
}
.footerColumn > a:hover {
    text-decoration: underline;
}
.privacySection {
    font-size: 11pt;
}
.privacySection > a {
    color: #a1a1a1;
}
.footerContainer {
    display: flex;
}
.footerLogo {
    margin-right: 5rem;
}

@media only screen and (max-width: 700px) {
    .footerContainer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footerColumn {
        margin: 25px 0;
    }
    .footerLogo {
        margin: 0;
    }
    .lastFooterColumn {
        margin-bottom: 75px;
    }
}
